/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Body */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  overflow-x: hidden;
}

/* Root */

#root {
  width: 100%;
  min-height: 100vh;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Buttons */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists */

ul,
ol {
  list-style: none;
}